{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <title> home page</title>
   <link rel="preload" as="image" href="{% static 'images/gray-laptop-computer-showing-html-codes-in-shallow-focus-160107-low.jpg' %}"/>
    <link rel="preload" as="image" href="{% static 'images/shubham.JPG'%}"/>
    <link rel = "preload" as = "image" href = "{% static 'images/football.png'%}"/>

    <link rel = "stylesheet" href = "{% static 'Css/HomeStyle.css'%}"/>
   <script src="{% static 'scripts/p5.js'%}" type="text/javascript"></script>
    <link rel = "stylesheet" href = "{% static 'Css/style.css'%}"/>

    <script src="{% static 'scripts/p5.dom.js'%}" type="text/javascript"></script>
    <script src="{% static 'scripts/p5.sound.js'%}" type="text/javascript"></script>

    <script src="{% static 'scripts/sketch.js'%}" type="text/javascript"></script>


    </head>
    <header></header>
<body>

    <div id = "head">
<!--
         <div id = "logo">
       <img src = "{% static 'images/football.png'%}" height = 60px width = 60px/>
        </div>
-->
    <ul id = "headElement">
        {% if user.is_authenticated %}

        <li>{{user.userdata.profileImg}}</li>
        <li>Hello {{user.username}}</li>
        <li><a href = "accounts/logout">LOG-OUT</a></li>
        {% else %}
        <li><a href = "accounts/register">SIGN-UP</a></li>
        <li><a href = "accounts/login/">LOG-IN</a></li>
        {% endif %}
        <li><a href = "#">CONTACT</a></li>
        <li><a href = "#">ABOUT ME</a></li>
        <li><a href = "home">HOME</a></li>
        </ul>
    </div>
    <div class = "myimage">
        <img src = "{{user.userdata.profileImg.url}}" width = 240px height = 250px/>

        {% if user.userdata.profileImg == 'Fpics/userpic.gif' %}
        <form action = '/' method = 'POST' enctype="multipart/form-data">
            {% csrf_token %}
            <input type = 'file' name = 'profile_pic' />
            <input type = 'submit' value = 'upload'/>
        </form>
        {% endif %}

    </div>
    <a class = "add" href = "add/"><h4>ADDITON</h4></a>

<!--
    {% for imag in abc %}
    <img src = "{{imag.path_img.url}}" width = 200px height = 200px /><br>
    {% if imag.h %}
    hello
    {% endif %}
    {{imag.name}}
    <br>
    {{imag.age}}
    <br>
    {% endfor %}
-->
    </body>



</html>
