{% load static %}
<!doctype html>
<html>
<head>
    <link rel = "stylesheet" href = "{% static 'Css/Login_page_Style.css' %}">
    <title>login form</title>
<script src = "{% static 'scripts/validation.js' %}" ></script>
</head>
<body>
<div>
    <h1 name = "h1">LOGIN HERE</h1>
    <img class = "ball" src = "{% static 'images/football.png' %}"/>
<form action="/accounts/login/" method="post" onsubmit="return validate()">
    {% csrf_token %}

<input id=sp name = "username" type="text" placeholder = "username"/><br>
<input id = sp2 name = "password" type="password" placeholder = "password"/></br>
<input id = "sp3" type = "submit" value = "login"/>
</form>
    {% for message in messages %}
    <p>*{{message}}</p>
    {% endfor %}
</div>
</body>
</html>
