{% load static %}

<!doctype html>
<html>
<head>
    <link rel = "stylesheet" href = "{% static 'Css/registration.css' %}">
    <title>sign-up form</title>
<!--<script src = "scripts/validation.js" type = "text/javascript"></script>-->
</head>
<body>
<div>
    <h1 name = "h1">REGISTER HERE</h1>
    <img class = "ball" src = "{% static 'images/football.png' %}"/>


<form action="" method="POST" onsubmit="return validate()">
  {% csrf_token %}

<input id=sp name = "name" type="text" placeholder = "your name here"/><br>
    <input id=email name = "email" type="email" placeholder = "your email"/><br>
<input id = sp2 name = "password" type="password" placeholder = "new password"/></br>
<input id = sp2a name = "repassword" type="password" placeholder = "re-enter password"/></br>
<input id = "sp3" type = "submit" value = "register"/>
</form>
    {% for message in messages %}
    <h5>*{{message}}</h5>
    {% endfor %}

</div>
</body>
</html>
